<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>La 1ere - MP3</string>
			<key>url</key>
			<string>http://stream.srg-ssr.ch/m/la-1ere/mp3_128</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La 1ere - AAC HTTP</string>
			<key>url</key>
			<string>http://stream.srg-ssr.ch/m/la-1ere/aacp_96</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Journal Horaire La Première AOD</string>
			<key>url</key>
			<string>http://rtsww-a-d.rts.ch.edgesuite.net/rsr-info/programmes/le-journal-horaire/2015/le-journal-horaire_20150723_full_le-journal-horaire_543ad9a7-9759-4f37-b032-87ac1ceb4bd4-128k.mp3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 1 DVR mp3</string>
			<key>url</key>
			<string>http://lsaplus.swisstxt.ch/audio/drs1_96.stream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SRF 2 Livestream mp3</string>
			<key>url</key>
			<string>http://streaming.swisstxt.ch/m/drs2/mp3_128</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Timeshift</string>
			<key>url</key>
			<string>http://lsaplus.swisstxt.ch/audio/rsp_96.stream/playlist.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
