<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>Live</string>
			<key>url</key>
			<string>https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8?DVR</string>
			<key>secondaryUrls</key>
			<array>
				<string>https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8?DVR</string>
				<string>https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8?DVR</string>
				<string>http://fr-par-iphone-2.cdn.hexaglobe.net/streaming/euronews_ewns/9-live.m3u8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
