<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>3 non-consecutive segments</string>
			<key>url</key>
			<string>https://devimages.apple.com.edgekey.net/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8</string>
			<key>segments</key>
			<array>
				<dict>
					<key>name</key>
					<string>Segment #0</string>
					<key>startTime</key>
					<integer>5</integer>
					<key>duration</key>
					<integer>10</integer>
					<key>blocked</key>
					<false/>
				</dict>
				<dict>
					<key>name</key>
					<string>Segment #1</string>
					<key>startTime</key>
					<integer>30</integer>
					<key>duration</key>
					<integer>10</integer>
					<key>blocked</key>
					<false/>
				</dict>
				<dict>
					<key>name</key>
					<string>Segment #2</string>
					<key>startTime</key>
					<integer>55</integer>
					<key>duration</key>
					<integer>10</integer>
					<key>blocked</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
