<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>Livestream with DVR support</string>
			<key>url</key>
			<string>http://tagesschau-lh.akamaihd.net/i/tagesschau_1@119231/master.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
