<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Movies</key>
	<array>
		<dict>
			<key>name</key>
			<string>Live RTS</string>
			<key>url</key>
			<string>https://srgssruni7ch-lh.akamaihd.net/i/enc7uni_ch@191283/master.m3u8</string>
			<key>urls</key>
			<array>
				<string>https://srgssruni7ch-lh.akamaihd.net/i/enc7uni_ch@191283/master.m3u8</string>
				<string>https://srgssruni9ch-lh.akamaihd.net/i/enc9uni_ch@191320/master.m3u8</string>
				<string>https://srgssruni10ch-lh.akamaihd.net/i/enc10uni_ch@191367/master.m3u8</string>
				<string>https://srgssruni11ch-lh.akamaihd.net/i/enc11uni_ch@191455/master.m3u8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
