#include "../Common.xcconfig"

LAUNCH_SCREEN[sdk=iphone*] = LaunchScreen~ios
LAUNCH_SCREEN[sdk=appletv*] =

APP_ICONS_SOURCE[sdk=iphone*] = AppIcon
APP_ICONS_SOURCE[sdk=appletv*] = App Icon & Top Shelf Image

REQUIRED_DEVICE_CAPABILITY[sdk=iphone*] = armv7
REQUIRED_DEVICE_CAPABILITY[sdk=appletv*] = arm64
